@font-face {
  font-family: 'Viga';
  src: url(font/Viga-Regular.ttf) format('truetype');
  font-weight: normal;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding-top: 6rem;
}
/* -------------nav------- */

nav {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  transition: 200ms ease-in-out background-color, 200ms ease-in-out box-shadow;
  transition: 200ms ease-in-out background-color, 200ms ease-in-out box-shadow;
  transition: 200ms ease-in-out background-color, 200ms ease-in-out box-shadow;
}
.nav-link {
  color: #fff;
}
.logo {
  color: #fff;
  font-family: 'Viga';
  font-size: 2rem;
}

.active_nav .nav-link:hover {
  color: rgb(0, 255, 255);
  font-weight: bold;
}

.active_nav .nav-link,
.active_nav .logo {
  color: rgb(0, 0, 255);
}
a.nav-link.active {
  color: #00f !important;
  
}
/* -------------jumbotron-------------*/
.jumbotron {
  background-image: url('./img/bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 600px;
  text-align: center;
}
.jumbotron .container {
  height: 300px;
}
.jumbotron img {
  position: relative;
  top: 25%;
  left: 42%;
  margin-bottom: 30px;
}

/*---briefMotivation----------*/
#about {
  margin: 90px 0;
}
#about h1 {
  font-size: 2em;
  margin-bottom: 30px;
}
.box {
  width: 800px;
  height: 100%;
  max-width: 100%;
  margin: 1rem auto;
  font-size: 1rem;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.with-conic-gradient {
  border-style: solid;
  border-width: 30px;
  border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
}

.with-border-image {
  border-style: solid;
  border-width: 20px;
  border-image-source: url(/url/to/some/fancy/image.jpg);
  border-image-slice: 60 30;
}
.with-linear-gradient {
  border-style: solid;
  border-width: 10px;
  border-image: linear-gradient(45deg, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
}

#about h2 {
  font-size: 1.5em;
  color: rgb(10, 17, 156);
}
#about h3 {
  font-size: 1.2em;
  font-weight: 200;
  margin-bottom: 50px;
  color: rgb(80, 84, 113);
}

/* ------------projects--------- */
#projects {
  background-color: black;
  margin: 0 auto;
  padding: 100px 0;
}

/*------------------------contactForm--------------------*/

footer {
  color: #f0f;
  /* box-shadow: 0 -1rem 0 0 rgb(0, 0, 255);  */
  box-shadow: rgba(0, 21, 255, 0.25) 0px 30px 60px -12px inset, rgba(36, 121, 144, 0.3) 0px 18px 36px -18px inset;
}

footer span {
  color: #ff0;
  margin: 0 15px;
}

/* =============Desktop============= */
@media (min-width: 992px) {
  .nav-link {
    color: #fff;
    text-transform: uppercase;
    margin-right: 30px;
    padding: 8px;
  }
  .nav-link:hover {
    background-color: rgb(141, 246, 81);
  }
  .active_nav .nav-link:hover {
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  .active_nav {
    background-color: #fff;
    box-shadow: 0 0 0.5rem rgb(0, 255, 0);
  }
}
